doctype html
html
  head
    title tabex demo
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    script(src='https://cdn.jsdelivr.net/jquery/1.11.1/jquery.min.js')

    script(src='https://cdn.jsdelivr.net/bootstrap/3.2.0/js/bootstrap.min.js')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/bootstrap/3.2.0/css/bootstrap.css')

    script(src='tabex.js')
    script(src='index.js')
    link(rel='stylesheet' href='index.css')

  body
    .container
      h1 tabex
        | 
        small demo

      p.form-inline
        input#message.form-control(type='text' placeholder='Input message here...')
        button#send.btn.btn-default Send text

        button#ping.btn.btn-default Ping

        button#createwin.btn.btn-default
          span.glyphicon.glyphicon-plus
          |  new window

    .container.full-height
      #log.full-height


    .gh-ribbon
      a(href='https://github.com/nodeca/tabex' target='_blank') Fork me on GitHub
