html, body, .full-height
  height 100%

body
  overflow hidden
  padding-bottom 160px

#log
  overflow-y scroll
  padding 10px
  border 1px solid #ccc
  border-radius 4px

  p
    margin 0

.gh-ribbon
  display block
  position absolute
  right -60px
  top 44px
  transform rotate(45deg)
  width 230px
  z-index 10000
  white-space nowrap
  font-family "Helvetica Neue", Helvetica, Arial, sans-serif
  background-color #686868
  box-shadow 0 0 2px rgba(102,102,102,0.4)
  padding 1px 0

  a
    text-decoration none !important
    border 1px solid #ccc
    color #fff
    display block
    font-size 13px
    font-weight 700
    outline medium none
    padding 4px 50px 2px
    text-align center
